<div class="custom-container">
    <div class="header">
        <span>>binary-monks:</span>{{input type="text" value=search enter="processInput" placeholder="$help" autofocus="autofocus"}}
    </div>
    <div class="content">
        {{outlet}}
    </div>
</div>