<div class="nav-menu">
    <h2 align="center">BinaryMonks</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {{input type="text" value=search enter="processInput"}}
        </div>
    </div>
    {{outlet}}
</div>