<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <td><h3>Basic Commands</h3></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><p class="action">$mychannels</p></td>
                        <td>Displays all the subscribed channels</td>
                    </tr>
                    <tr>
                        <td><p class="action">$channels</p></td>
                        <td>Displays all the channels in BinaryMonk</td>
                    </tr>
                    <tr>
                        <td><p class="action">$home</p></td>
                        <td>Displays your subscriptions, repositories and bookmarks</td>
                    </tr>
                    <tr>
                        <td><p class="action">#&lt;skill&gt;</p></td>
                        <td>Displays all the articles with that skill. For example: #angularjs</td>
                    </tr>
                    <tr>
                        <td><h3>Advanced Commands</h3></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><p class="action">$mychannels : #&lt;skill&gt;</p></td>
                        <td>Displays all the subscribed channels with the requested skill</td>
                    </tr>
                    <tr>
                        <td><p class="action">$mychannels = '&lt;Channel Name&gt;'</p></td>
                        <td>Displays articles only from the requested channel name</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
