<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>Channels</h3>
			</div>

			<div class="col-md-2">
				<img src="http://www.thevagabus.com/wp-content/uploads/2016/01/redditlogo.png" class="chimg img-responsive" alt="Image" align="center">
				<h4 align="center">Reddit</h4>
			</div>

			<div class="col-md-2">
				<img src="https://www.imprivata.com/sites/default/files/styles/thumbnail/public/images/publication_logos/recode-logo.png?itok=sn5AsqjM" class="chimg img-responsive" alt="Image" align="center">
				<h4 align="center">Recode</h4>
			</div>

			<div class="col-md-2">
				<img src="http://vectorlogofree.com/wp-content/uploads/2014/09/23312-webappers-logo-icon-vector-icon-vector-eps.png" class="chimg img-responsive" alt="Image" align="center">
				<h4 align="center">Webappers</h4>
			</div>

			<div class="col-md-2">
				<img src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" class="chimg img-responsive" alt="Image" align="center">
				<h4 align="center">Github</h4>
			</div>

			<div class="col-md-2">
				<img src="https://pbs.twimg.com/profile_images/478913945475235840/Jv1mMBOA_400x400.jpeg" class="chimg img-responsive" alt="Image" align="center">
				<h4 align="center">A list apart</h4>
			</div>

			<div class="col-md-2">
				<h2 align="center" style="margin-top: 5rem;">More</h2>
			</div>

		</div>

		<hr />

		<div class="row">

		<div class="col-md-12">
				<h3>Repositories</h3>
			</div>

			<div class="col-md-2">
				<div class="card">
					 <h4 class="card-title">verekia / js-stack-from-scratch</h4>
					<p class="card-text">
						Step-by-step tutorial to build a modern JavaScript stack from scratch
					</p>
				</div>
			</div>

			<div class="col-md-2">
				<div class="card">
					 <h4 class="card-title">verekia / js-stack-from-scratch</h4>
					<p class="card-text">
						Step-by-step tutorial to build a modern JavaScript stack from scratch
					</p>
				</div>
			</div>

			<div class="col-md-2">
				<div class="card">
					 <h4 class="card-title">verekia / js-stack-from-scratch</h4>
					<p class="card-text">
						Step-by-step tutorial to build a modern JavaScript stack from scratch
					</p>
				</div>
			</div>

			<div class="col-md-2">
				<div class="card">
					 <h4 class="card-title">verekia / js-stack-from-scratch</h4>
					<p class="card-text">
						Step-by-step tutorial to build a modern JavaScript stack from scratch
					</p>
				</div>
			</div>

			<div class="col-md-2">
				<div class="card">
					 <h4 class="card-title">verekia / js-stack-from-scratch</h4>
					<p class="card-text">
						Step-by-step tutorial to build a modern JavaScript stack from scratch
					</p>
				</div>
			</div>


			<div class="col-md-2">
				<h2 align="center" style="margin-top: 5rem;">More</h2>
			</div>
		</div>

		<hr />

		<div class="row">

			<div class="col-md-12">
				<h3>Bookmarks</h3>
			</div>

			<div class="col-md-2">
				<div class="card">
					 <h4 class="card-title">Versioning and Releasing Angular</h4>
				</div>
			</div>

			<div class="col-md-2">
				<div class="card">
					 <h4 class="card-title">Versioning and Releasing Angular</h4>
				</div>
			</div>



			<div class="col-md-2">
				<h2 align="center" style="margin-top: 5rem;">More</h2>
			</div>
		</div>
</div>
	