<h3>This is the channels route</h3>

<div class="col-xs-12">
    {{#each channelsList as |channel|}}
    <div class="col-xs-3">
            <div class="card text-xs-center">
                <div class="card-block">
                    <div class="row">
                        <div class="col-xs-9">
                            <h4 class="card-text channel-heading">{{channel.source}}</h4>
                        </div>
                        <div class="col-xs-3">
                            {{bm-channel-button mychannels=mychannels channel=channel addChannel='addChannel' removeChannel='removeChannel'}}
                        </div>
                    </div>
                </div>
            </div>
    </div>
    {{/each}}
</div>